<!-- Componente principal, contiene la barra de navegación y router outlet -->

<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>{{title}}</strong>
      </a>
      <a class="navbar-brand" href="#">Productos</a>
    </div>
  </div>

  <!-- Router outlet es el componente intercambiable -->
<div class="componentContainer">
  <router-outlet></router-outlet>
</div>